node_modules
.env
.env.production

/src/pages/Bands copy.js
/src/pages/Loader copy.js
/src/components/GigForm1 copy.js
/src/components/GigForm copy.js


# /src/lib

/public/_redirects
/public/bg_band.webp
/public/stage.png
